<!DOCTYPE html>

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LiveTweets</title>
    <link rel="icon" type="image/x-icon" href={% static 'favicon.ico' %}>
</head>
<body>
    <div class="container-fluid text-center text-light bg-dark py-3">
        <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-2">
                <a href="https://mediafutures.no"><img class="img-fluid float-start mw-25" width="150" src="{% static 'MF_LOGOSimpleVersion_white.svg' %}" alt="logo"></a>
            </div>
            <div class="col">
                <h1 class="display-3 text-light">LiveTweets</h1>
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>

</body>
</html>